*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

#header {
    flex: 0 1 20vw;
    background-color: rgb(37, 37, 37);
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-right: 8px solid rgba(48, 48, 48, 0.452);
}

#header #logo {
    font-family: "Aldrich", sans-serif;
    margin-top: 8vh;
    margin-bottom: 70px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header #main-title {
    font-size: 58px;
    font-weight: bold;
}

#header #main-subtitle {
    font-weight: lighter;
    font-size: 18px;
}

#header .container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#header .container .subcontainer {
    max-width: 15vw;
    min-width: 320px;
}

#header .section-title {
    margin: 8px 0;
    font-size: 22px;
}

#header .subcontainer p {
    margin-bottom: 16px;
}

#header #overview a {
    text-decoration: none;
    color: #96befa;
}

#header #overview a:hover {
    text-decoration: underline;
}

#header #styles {
    display: flex;
    flex-direction: column;
}

#header #style-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

#header button {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    width: 120px;
    font-weight: bold;
    border: none;
}

#header #modern-btn {
    background-color: rgb(168, 194, 218);
}

#header #classic-btn {
    background-color: rgb(233, 233, 233);
}

#header .footer {
    flex: 0 1 auto;
    padding: 4px;
    font-size: 16px;
}

#header .footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#content {
    background-color: rgb(56, 56, 56);
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    border-radius: 42px;
    background-color: rgb(32, 32, 32);
    border: 8px solid rgba(60, 60, 60, 0.25);
    margin-right: 10vw;
}

#display {
    flex: 1 1 120px;
    min-width: 310px;
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    padding: 8px;
    border-radius: 16px;
    justify-content: center;
    align-items: flex-end;
    font-family: "Inter", sans-serif;
    background-color: rgb(32, 32, 32);
}

#display #history {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 2px;
    min-width: 30px;
    min-height: 30px;
    color: rgb(190, 193, 196);
    font-size: 20px;
}

#display #output {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2px;
    min-width: 60px;
    min-height: 60px;
    color: rgb(255, 255, 255);
    font-size: 52px;
}

#calc-buttons {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

#calc-buttons .row {
    display: flex;
}

#calc-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    width: 70px;
    height: 70px;
    border-radius: 360px;
    border: none;
    font-family: "Inter", sans-serif;
    background-color: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    font-size: 32px;
}

#row-1 button {
    background-color: rgb(128, 128, 128);
}

#calc-buttons button.operator,
#calc-buttons button#equals {
    background-color: rgb(255, 153, 0);
    padding-bottom: 8px;
    font-size: 54px;
    font-weight: 300;
}

button#delete {
    padding-right: 4px;
}

button#delete img {
    width: 42px;
}

button#plus-minus img {
    width: 28px;
}

button:focus {
    outline: none;
}
