*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

#header {
    flex: 0 1 15vw;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#header #main-title {
    color: aliceblue;
    font-size: 28px;
    margin-top: 200px;
}

#content {
    background-color: rgb(56, 56, 56);
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 32px;
    background-color: rgb(32, 32, 32);
}

#display {
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding: 16px;
    border-radius: 16px;
    justify-content: center;
    align-items: flex-end;
    font-family: "Inter", sans-serif;
    background-color: rgb(32, 32, 32);
    /* background-color: rgb(43, 83, 83); */
}

#display #history {
    margin: 2px;
    color: rgb(190, 193, 196);
    font-size: 20px;
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

#display #output {
    margin: 2px;
    color: aliceblue;
    font-size: 48px;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#calc-buttons {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

#calc-buttons .row {
    display: flex;
}

#calc-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    padding: 16px;
    width: 70px;
    height: 70px;
    border-radius: 360px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    background-color: rgb(63, 63, 63);
    color: aliceblue;
}

#row-1 button {
    background-color: gray;
}

#calc-buttons button.operator, #calc-buttons button#equals {
    background-color: rgb(255, 153, 0);
}